[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clintrialx"]
	path = clintrialx
	url = https://github.com/ineelhere/clintrialx
